

html {
	overflow: hidden; /* Disable Page scrolling */
	background-color:white;
	display:table;
	margin:auto;
	height:100%;
	background-image:url("blackstripe.png");
	background-repeat: no-repeat;
	background-position:center center;
	background-size:900px 500px  ;
	background-position:absolute;
	background-position-y: -5%;
	background-position-x: 52%;
	
	

	
}

body  {
	
	height: 144px;
	width: 144px;
	border: 1px solid black;
	border-width: 20px;
	border-radius: 10px;
	background-image: url("back4.png");
	background-repeat: no-repeat;
	background-position:center center;
	background-color:#fff;
    background-size:100% 100%;
    border-style:solid;
    border-top-color:#181818;
    border-left-color:#181818;
    border-bottom-color:#202020;
    border-right-color:#202020;
	box-shadow:0px 2px .7px 1px #777;
	border-bottom-width:35px;
	overflow:auto;
	
}

#horas{
	color:white;
	font-size: 25px;
	position:absolute;
	top:10px;
	left:5px;
	font-family:Sans-serif;
	text-shadow: 1px 1px black , 
	2px 2px black, 
	3px 3px black,
	4px 4px  black;
}

.material-icons{
	
	width:50px;
	height:50px;
	top:70px;
	left:-3px;

	position:absolute;
	font-size:70px;
	color:white;
 	display: inline-block;
  	cursor: pointer;
}

.material-icons:hover{
	color:#202020;
	text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px white , 0 0 70px white , 0 0 80px white , 0 0 100px white ;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);

}

#iRave{
	color:white;
	font-size: 25px;
	top:30px;
	position:fixed;
	margin-left:40.5px;
	font-family:"Gill Sans Extrabold",Helvetica, sans-serif;
	text-shadow: 1px 1px black, 
	2px 2px black, 
	3px 3px black,
	4px 4px  black;
	
}

#MenuSecundario{
	color:white;
	font-size: 25px;
	top:30px;
	font-family:Sans-serif;
	background-size:100% 100%;
	height: 144px;
	width: 144px;
	background-image: url("back4.png");
	background-repeat: no-repeat;
	background-position:center center;
	background-color:#fff;


}

a {
    text-decoration: none;
    display: inline-block;
	padding: 8px 16px;
	border-radius:50%;
	
}

a:active{
	background-color:grey;
}

.prev {
	background-color:black;
    position:absolute;
	color:white;
	font-size:30px;
	left:0px;
	font-weight: bold;
	top:85px;
	text-shadow:none;
	width:15px;
}

.next {
	background-color:black;
	position:absolute;
	left:97px;
	font-size:30px;
	font-weight: bold;
	text-shadow:none;
	top:85px;
	width:15px;
}

.text1{
	cursor:pointer;
    color:black;
	font-size: 25px;
	position:relative;
	font-family:Sans-serif;
	font-weight:bold;
	text-align:center;
	background-image:url("mapa.png");
	height:100px;
	background-size:60px ;
	background-repeat: no-repeat;
	background-position:center bottom 5px;
	background-color:white;	
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
	-webkit-mask-size: 200%;
	animation: shine 2s infinite;
	
  }
  @-webkit-keyframes shine {
	  from {
		-webkit-mask-position: 150%;
	  }
	  
	  to {
		-webkit-mask-position: -50%;
	  }
	}  

.text2{
    cursor:pointer;
	position:relative;
	top:0px;
	text-align:center;
	background-size:60px ;
	color:black;
	height:100px;
	font-weight:bold;
	background-image:url("pagamento.png");
	background-repeat: no-repeat;
	background-color:white;
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
	-webkit-mask-size: 200%;
	animation: shine 2s infinite;
	background-color:white;
	background-position:center bottom 5px;
  }
  @-webkit-keyframes shine {
	  from {
		-webkit-mask-position: 150%;
	  }
	  
	  to {
		-webkit-mask-position: -50%;
	  }
	}

.text3{
    cursor:pointer;
	position:relative;
	top:0px;
	text-align:center;
	font-weight:bold;
	color:black;
	background-image:url("information.png");
	height:100px;
	background-size:130px 80px;
	background-repeat: no-repeat;
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
	-webkit-mask-size: 200%;
	animation: shine 2s infinite;
	background-color:white;
	background-size:60px ;
	background-position:center bottom 5px;
  }
  @-webkit-keyframes shine {
	  from {
		-webkit-mask-position: 150%;
	  }
	  
	  to {
		-webkit-mask-position: -50%;
	  }
	}

.text4{
    cursor:pointer;
	position:relative;
	top:0px;
	color:black;
	font-weight:bold;
	text-align:center;
	background-image:url("help.png");
	height:100px;
	background-size:130px 80px;
	background-repeat: no-repeat;
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
	-webkit-mask-size: 200%;
	animation: shine 2s infinite;
	background-color:white;
	background-size:60px ;
	background-position:center bottom 5px;
  }
  @-webkit-keyframes shine {
	  from {
		-webkit-mask-position: 150%;
	  }
	  
	  to {
		-webkit-mask-position: -50%;
	  }
	}

.dot ,.dotInteresse{

	height: 7.5px;
	width: 7.5px;
	margin: 0 2px;
	background-color:white;
	border-radius: 50%;
	display: inline-block;
	
}

.active
{
	background-color:black;
	-moz-box-shadow: 0px 0px 11px white;
-webkit-box-shadow: 0px 0px 11px white;
box-shadow: 0px 0px 11px white;
	
}

.slideshow-container {
	width: 144px;
	height: 144px;
	position: relative;
	margin:auto;
	
	
}

.mySlides{
	opacity:1;
	
}

.dots,.dotsInteresse{
	position:absolute;
	bottom:0px;
	height:-10px;
	left:40px;
}
.dotsInformacao,.dotsPagamento{
	position:absolute;
	left:48px;
	top:115px;
}

.dotsPagamento{
	left:38px;
}

.dotInformacao,.dotPagamento{
	height: 8px;
	width: 8px;
	margin: 0 2px;
	background-color:white;
	border-radius: 50%;
	display: inline-block;
}
.dotsPagamento{
	text-align: center;
}
.active{
	background-color:black;
	-moz-box-shadow: 0px 0px 11px white;
-webkit-box-shadow: 0px 0px 11px white;
box-shadow: 0px 0px 11px white;
	
}
.HomeButton{
	position:fixed;
	cursor:pointer;
	width:60px;
	height:30px;
	top:175px;
	right:51%;
	background-color:transparent;
	text-align:center;
    color: whitesmoke;
    font-size: 28px;
	
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
	-webkit-mask-size: 200%;
	animation: shine 2s infinite;
}
@-webkit-keyframes shine {
	from {
	  -webkit-mask-position: 150%;
	}
	
	to {
	  -webkit-mask-position: -50%;
	}
  }  

.ReturnButton{
	position:fixed;
	cursor:pointer;
	width:60px;
	height:30px;
	top:175px;
	left:51%;
	background-color:transparent;
	text-align:center;
    color: whitesmoke;
    font-size: 28px;
	
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
	-webkit-mask-size: 200%;
	animation: shine 2s infinite;
}


 #MenuInformacao,#MenuNavegacao,#MenuInteresse,#MenuPagamento,#MenuBebida,#ShirtMerch,#FlagMerch,#FartMerch,#PussyMerch,#BurguerMerch,#PizzaMerch,#KebabMerch
 ,#HotdogMerch,#CervejaMerch,#CidraMerch,#SangriaMerch,#VinhoMerch,
 #CocaColaMerch,#LimonadaMerch,#IceTeaMerch,#CompalMerch{
	color:white;
	font-size: 22px;
	top:30px;
	font-family:Sans-serif;
	background-size:100% 100%;
	height: 144px;
	width: 144px;
	background-image: url("back4.png");
	background-repeat: no-repeat;
	background-position:center center;
	background-color:#fff;

 }

 #ShirtMerch,#FlagMerch,#FartMerch,#PussyMerch,#BurguerMerch,#PizzaMerch,#HotdogMerch,#KebabMerch,#CervejaMerch,#CidraMerch,#VinhoMerch,#SangriaMerch,
 #CocaColaMerch,#LimonadaMerch,#IceTeaMerch,#CompalMerch{
	 background-image:url("shopping.jpg");
 }

 .Concertos,.Amigos,.PontosInteresse,.PalcosInteresse,.LazerInteresse,.WCinteresse,.RestauracaoInteresse,.SemAlcool,.ComAlcool{
	cursor:pointer;
    color:black;
	font-size: 25px;
	position:relative;
	font-family:Sans-serif;
	font-weight:bold;
	text-align:center;
	background-image:url("Concert.png");
	height:100px;
	background-size:60px ;
	background-repeat: no-repeat;
	background-position:center bottom 5px;
	background-color:white;	
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
	-webkit-mask-size: 200%;
	animation: shine 2s infinite;

 }
.ComAlcool{
	background-image:url("beer.png");
}
.SemAlcool{
	background-image:url("juice.png");
}
 .Passatempos{
	cursor:pointer;
    color:black;
	position:relative;
	font-family:Sans-serif;
	font-weight:bold;
	text-align:center;
	background-image:url("passatempo.png");
	height:100px;
	background-size:60px ;
	background-repeat: no-repeat;
	background-position:center bottom 5px;
	background-color:white;	
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
	-webkit-mask-size: 200%;
	animation: shine 2s infinite;

 }

 .Metereologia{
	cursor:pointer;
    color:black;
	position:relative;
	font-family:Sans-serif;
	font-weight:bold;
	text-align:center;
	background-image:url("weather.png");
	height:100px;
	background-size:60px ;
	background-repeat: no-repeat;
	background-position:center bottom 5px;
	background-color:white;	
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
	-webkit-mask-size: 200%;
	animation: shine 2s infinite;

 }

 .dotsConcerto,.dotsConcerto2,.dotsNavegacao,.dotsBebida{
	position:absolute;
	left:56px;
	top:115px;
}
.dotsNavegacao{
	left:56px;
}
.dotConcerto,.dotConcerto2,.dotNavegacao,.dotBebida{
	height: 7.5px;
	width: 7.5px;
	margin: 0 2px;
	background-color:white;
	border-radius: 50%;
	display: inline-block;

}
.active{
	background-color:black;
	-moz-box-shadow: 0px 0px 11px white;
-webkit-box-shadow: 0px 0px 11px white;
box-shadow: 0px 0px 11px white;
	
}
#MenuConcerto,#mapaBruno,#mapaBarata,#mapaFrancisca,#mapaJoao, #Lazer1, #Lazer2, #Lazer3, #Palco11, #Palco22, #Palco33, #WC1, #WC2, #WC3, #Piteu1, #Piteu2, #Piteu3{
	color:white;
	font-size: 25px;
	top:30px;
	font-family:Sans-serif;
	background-size:100% 100%;
	height: 144px;
	width: 144px;
	background-image: url("back4.png");
	background-repeat: no-repeat;
	background-position:center center;
	background-color:#fff;

 }
 #MenuConcerto2 {
	color:white;
	font-size: 25px;
	top:30px;
	font-family:Sans-serif;
	background-size:100% 100%;
	height: 144px;
	width: 144px;
	background-image: url("back4.png");
	background-repeat: no-repeat;
	background-position:center center;
	background-color:#fff;

 }
 .Palco1,.Comida,.Bebidas,.Merchandise,.Carrinho{
	cursor:pointer;
    color:black;
	font-size: 25px;
	position:relative;
	font-family:Sans-serif;
	font-weight:bold;
	text-align:center;
	background-image:url("superbock.png");
	height:100px;
	background-size:75px ;
	background-repeat: no-repeat;
	background-position:center bottom 5px;
	background-color:white;	
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
	-webkit-mask-size: 200%;
	animation: shine 2s infinite;

 }

 .Comida{
	background-image:url("burguer.png");
 }

 .Bebidas{

	background-image:url("drink.png");
 }


 .Merchandise{
	background-image:url("shirt.png");
	font-size:23px;
 }
 
 .Carrinho{
	 background-image: url("shop.png");
	 background-size: 70px;
 }
	.Palco2{
		cursor:pointer;
		color:black;
		font-size: 25px;
		position:relative;
		font-family:Sans-serif;
		font-weight:bold;
		text-align:center;
		background-image:url("Eristoff.png");
		height:100px;
		background-size:110px ;
		background-repeat: no-repeat;
		background-position:center bottom 5px;
		background-color:white;	
		-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
		-webkit-mask-size: 200%;
		animation: shine 2s infinite;
	
	 }
	
	 .Palco3{
		cursor:pointer;
		color:black;
		position:relative;
		font-family:Sans-serif;
		font-weight:bold;
		text-align:center;
		background-image:url("heineken.png");
		height:100px;
		background-size:90px ;
		background-repeat: no-repeat;
		background-position:center bottom 5px;
		background-color:white;	
		-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
		-webkit-mask-size: 200%;
		animation: shine 2s infinite;
	 }
	.dotsPassatempos{
			position:absolute;
			left:55px;
			top:112px;
		}
	.dotPassatempo{
			height: 8px;
			width: 8px;
			margin: 0 2px;
			background-color:white;
			border-radius: 50%;
			display: inline-block;
		
		}
	.active{
			background-color:black;
			-moz-box-shadow: 0px 0px 11px white;
		-webkit-box-shadow: 0px 0px 11px white;
		box-shadow: 0px 0px 11px white;
			
		}
	#MenuPassatempos{
			color:white;
			font-size: 25px;
			top:30px;
			font-family:Sans-serif;
			background-size:100% 100%;
			height: 144px;
			width: 144px;
			background-image: url("back4.png");
			background-repeat: no-repeat;
			background-position:center center;
			background-color:#fff;
		
		 }
	 .Zona1{
			cursor:pointer;
			color:black;
			font-size: 25px;
			position:relative;
			font-family:Sans-serif;
			font-weight:bold;
			text-align:center;
			background-image:url("yorn.png");
			height:100px;
			background-size:160px ;
			background-repeat: no-repeat;
			background-position:center bottom -10px;
			background-color:white;	
			-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
			-webkit-mask-size: 200%;
			animation: shine 2s infinite;
		
		 }
		
	.Zona2{
				cursor:pointer;
				color:black;
				font-size: 25px;
				position:relative;
				font-family:Sans-serif;
				font-weight:bold;
				text-align:center;
				background-image:url("MEO.png");
				height:100px;
				background-size:80px ;
				background-repeat: no-repeat;
				background-position:center bottom 30px;
				background-color:white;	
				-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
				-webkit-mask-size: 200%;
				animation: shine 2s infinite;
			
			 }
	 table.info{
				border-collapse:collapse;
				width:135px;
				height:144px;
				
				
				}
	  table.info th, table.info td {
				text-align:center;
				border:1px solid black;
				font-family: Sans-Serif;
				font-weight: bold;
				background:white;
                text-shadow: 0 0 2px white;
			
	  }
			
			
				
			  
	  table.info th {  
				box-shadow:0px -2px black;	
				background-color:black;
				color:white;
				position:sticky;
				top:0;
				width:144px;
				height:44px;
				
				}
			  
	  table.info td:first-child
				{
				  
					text-decoration: underline solid black ;
				  cursor:pointer;
				  height:45px;
				}
				
				table.info td:first-child:hover
				{
					color:grey;
					text-decoration: underline solid black ;
				}
	  div.TabelaPassatempos1,div.TabelaAmigos,div.TabelaLazer,div.TabelaRestauracao,div.TabelaWC,div.TabelaPalcos {
				  background-color: lightblue;
				  overflow:auto;
				  height: 144px;
				  width: 161px;
		  }
	  div.TabelaPassatempos2{
				background-color: lightblue;
				overflow:auto;
				height: 144px;
				width: 161px;
				
			}

			table.infoC{
				border-collapse:collapse;
				width:130px;
				height:144px;
			}
			  table.infoC th, table.infoC td {
				text-align:center;
				border:1px solid black;
				font-family: Sans-Serif;
				font-weight: bold;
				background-color: white;
				color:black;
				text-shadow: 0 0 2px white;
				}
			 
			  table.infoC th {
				box-shadow:0px -2px;
				background-color:black;
				color:white;
				position:sticky;
				top:0;
				width:130px;
				height:44px;
				box-shadow:0px -2px black;	
				}
			  
			  table.infoC td:first-child
				{
					
					background-color:white;
				  height:45px;
				}
				
				
			table.PayWhatYouOwe{
				border-collapse:collapse;
				width:130px;
				height:144px;
				
			}
			table.PayWhatYouOwe th, table.PayWhatYouOwe td {
				text-align:center;
				border:1px solid black;
				font-family: Sans-Serif;
				font-weight: bold;
				background-color: white;
				color:black;
				text-shadow: 0 0 2px white;

				
				}

				table.PayWhatYouOwe th {
					box-shadow:0px -2px;
					background-color:black;
					color:white;
					position:sticky;
					top:0;
					width:130px;
					height:44px;
					box-shadow:0px -2px black;	
					
					}

			 table.PayWhatYouOwe td:first-child
				{
					
				  background-color:white;
				  height:45px;
				text-decoration: underline solid black ;
				} 
			
				table.PayWhatYouOwe td:first-child:hover
				{
					
				  background-color:greenyellow;
				  height:45px;
				} 	
				
			  
			  div.TabelaConcertos1 {
				  background-color: transparent;
				  overflow:auto;
				  height: 144px;
				  width: 161px;
			  }
			 div.TabelaConcertos2 {
					background-color: transparent;
					overflow:auto;
					height: 144px;
					width: 161px;
			 }
			div.TabelaConcertos3{
					background-color: transparent;
					overflow:auto;
					height: 144px;
					width: 161px;
			}
			
			::-webkit-scrollbar {
				width: 14px;
				
			}
			
			::-webkit-scrollbar-thumb {
				-webkit-border-radius: 10px;
				border-radius: 10px;
				background: linear-gradient(45deg, grey, black); 
				
			}
			::-webkit-scrollbar-track
			{
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
				
				background-color: #F5F5F5;
			}
			
			::-webkit-scrollbar-thumb:hover {
				background:grey;
				
			}
			.dotsDias,.dotsDias2{
				position:absolute;
				left:55px;
				top:110px;
			}
			.dotDia,.dotDia2{
				height: 7.5px;
				width: 7.5px;
				margin: 0 2px;
				background-color:white;
				border-radius: 50%;
				display: inline-block;
			
			}
			.active{
				background-color:black;
				-moz-box-shadow: 0px 0px 11px white;
			-webkit-box-shadow: 0px 0px 11px white;
			box-shadow: 0px 0px 11px white;
				
			}
			#MenuDias,#MenuDias2{
				color:white;
				font-size: 25px;
				top:30px;
				font-family:Sans-serif;
				background-size:100% 100%;
				height: 144px;
				width: 144px;
				background-image: url("back4.png");
				background-repeat: no-repeat;
				background-position:center center;
				background-color:#fff;
			
			 }
			 .Dia1,.Dia2{
				cursor:pointer;
				color:black;
				font-size: 25px;
				position:relative;
				font-family:Sans-serif;
				font-weight:bold;
				text-align:center;
				background-image:url("1.png");
				height:100px;
				background-size:75px ;
				background-repeat: no-repeat;
				background-position:center bottom 5px;
				background-color:white;	
				-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
				-webkit-mask-size: 200%;
				animation: shine 2s infinite;

				
			
			 }
			 .Dia2{
				
				background-image:url("2.png");
			 }
			
			
			#Atividade1{
				background-color: white;
				height:144px;
				width: 144px;
			}
			#h1,#h2,#h3{
				position:absolute;
				color:black;
				font-weight:bold;
				font-family: Sans-serif;
				width:144px;
				top:4%;
			}
			
			#h2{
               top:8%;
			}
			
			#h3{
              top:14%;
			}

			#Atividade2{
				background-color: white;
				height:144px;
				width: 144px;
			}

			#Atividade3{
				background-color: white;
				height:144px;
				width: 144px;
			}
			#Atividade4{
				background-color: white;
				height:144px;
				width: 144px;
			}


			#Atividade5{
				background-color: white;
				height:144px;
				width: 144px;
			}

			#Atividade6{
				background-color: white;
				height:144px;
				width: 144px;
			}
			
			#Atividade7{
				background-color: white;
				height:144px;
				width: 144px;
			}

			#Atividade8{
				background-color: white;
				height:144px;
				width: 144px;
			}

			#Atividade9{
				background-color: white;
				height:144px;
				width: 144px;
			}

			#Atividade10{
				background-color: white;
				height:144px;
				width: 144px;
			}
			
         
		  .temperatura{
			position:absolute;
			top:13%;
			font-size: 25px;
			display: inline-block;
			margin-left: auto;
			margin-right: auto;
			right:49%;
			font-family: Sans-serif;
			   color: black;
		
		}
		.temperatura::after{
			content: "\00B0";
		}
		.card-info,.card-info1{
			position:absolute;
			top:2%;
			width:144px;
			height:144px;
			font-weight:bold;
			font-family:Sans-serif;
			font-size:15.5px;
			text-align:center;
		}
		#Metereologia1,#Metereologia2{
			background-color: white;
				height:144px;
				width: 144px;

		}

		.icon1,.icon2{
			position:absolute;
		    width:144px;
			height:85px;
			background-image:url("cloud.png");
			
			top:9%;
			background-size:90px ;
			background-repeat: no-repeat;
			background-position:center bottom 5px;
			background-color:white;	
		}

		.icon2{
			background-image:url("sun.png");
			top:7%;
			background-size:70px ;
		}
       .card-info1{
		   font-size:20px;
	   }

	   .Amigos{
        background-image:url("friends.png");
	   }

	   .LazerInteresse{
		 background-image:url("interesse.png");
		 background-size:40px;
	   }
	   .PalcosInteresse{

		background-image:url("Concert.png");
		background-size:60px;
	   }

	   .PontosInteresse{

		background-image:url("interesse.png");
		background-size:40px;
	   }
	.WCinteresse{
		background-image:url("wc.png");
		background-size:60px;
	}

	.RestauracaoInteresse{
		background-image:url("restauracao.png");
		background-size:40px;
		font-size:23px;
	}

	#mapaBruno,#mapaBarata, #mapaFrancisca, #mapaJoao, #Lazer1, #Lazer2, #Lazer3, #Palco11, #Palco22, #Palco33, #WC1, #WC2, #WC3, #Piteu1, #Piteu2, #Piteu3{
		background-image: url("festival.png");
	}
	.pin{
		width:30px;
		height:50px;
		background-image:url("pin.png");
		top:5%;
		right:50%;
		background-size:35px;
		background-repeat: no-repeat;
		position:absolute;
	}

	.flag,.flag1,.flag2,.flag3,.flag4,.flag5,.flag6,.flag7,.flag8,.flag9,.flag10,.flag11,.flag12,.flag13,.flag14,.flag15{
		width:60px;
		height:50px;
		background-image:url("flag.png");
		background-size:40px;
		background-repeat: no-repeat;
		position:absolute;
		cursor:pointer;
		background-color:white;
		border-radius:60px;
		-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
				-webkit-mask-size: 200%;
				animation: shine 2s infinite;
		background-position:center;

	}

	.flag1{
		top:13%;
		right:49%;
	}

	.flag2{
		top:11%;
		right:48%;
	}

	.flag{
		top:13%;
		right:48%;
	}

	.flag3{
		top:12%;
		right:50%;
	}

	.flag4{
		top:13%;
		right:48%;
	}

	.flag5{
		top:10%;
		right:48%;
	}

	.flag6{
		top:12%;
		right:49%;
	}

	.flag7{
		top:12%;
		right:47%;
	}
	.flag8{
		top:12%;
		right:49%;
	}
	.flag9{
		top:12%;
		right:49%;
	}
	.flag10{
		top:9%;
		right:50%;
	}
	.flag11{
		top:12%;
		right:49%;
	}
	.flag12{
		top:8%;
		right:51%;
	}
	.flag13{
		top:11%;
		right:50%;
	}
	.flag14{
		top:11%;
		right:50%;
	}
	.flag15{
		top:12%;
		right:51%;
	}

.seta {
    font-size: 5em;
    color: black;
}

.fa-location-arrow {
    margin-top: 20px;
	margin-left: 40px;
	font-weight:bold;
	width:60px;
}

.BarraProgresso {
    color: black;
	text-align: center;
	font-weight:bold;
	font-size:30px;
	background-color:white;
	height:25%;
}

#Bussola{
	background-image:url('path.gif');
	background-size:cover;
	background-size: 100% 75%;
	height:144px;
	width:144px;
}

#arrival {
	height: 100%;
	text-align: center;
}

#arrival div {
	height: 100%;
	padding-top: 22px;
}
#arrival span {
	color: white;
	font-size: 2em;
	font-family: sans-serif;
	height: inherit;

}


#YouSureFinalScreen {
	height: 144px;
	text-align: center;
	background-color:white;
}

#YouSureFinalScreen div {
	height: 144px;
	
}
#YouSureFinalScreen span {
	height: 144px;
	font-size: 1.4em;
	font-family: sans-serif;
	color: black;

}
#EcranRecolha1,#EcranRecolha2,#EcranRecolha3,#EcranRecolha4,#EcranRecolha5,#EcranRecolha6
,#EcranRecolha7,#EcranRecolha8,#EcranRecolha9,#EcranRecolha10,#EcranRecolha11,#EcranRecolha12
,#EcranRecolha13,#EcranRecolha14,#EcranRecolha15,#EcranRecolha16 {
	height: 144px;
	text-align: center;
	background-color:white;
}

#EcranRecolha1 div,#EcranRecolha2 div,#EcranRecolha3 div,#EcranRecolha4 div,#EcranRecolha5 div,#EcranRecolha6 div
#EcranRecolha7 div,#EcranRecolha8 div,#EcranRecolha9 div,#EcranRecolha10 div,#EcranRecolha11 div
#EcranRecolha12 div,#EcranRecolha13 div,#EcranRecolha14 div,#EcranRecolha15 div,#EcranRecolha16 div {
	height: 144px;
	
}
#EcranRecolha1 span,#EcranRecolha2 span,#EcranRecolha3 span,#EcranRecolha4 span,EcranRecolha5 span,
EcranRecolha6 span,EcranRecolha7 span,EcranRecolha8 span,EcranRecolha9 span,EcranRecolha10 span,
EcranRecolha11 span,EcranRecolha12 span,EcranRecolha13 span,EcranRecolha14 span,EcranRecolha15 span,EcranRecolha16 span {
	color: black;
	font-size: 1.5em;
	font-family: sans-serif;
	height: 144px;
}

div.MerchandiseList {
	background-color: transparent;
	overflow:auto;
	height: 144px;
	width: 161px;
}

div.car {
	background-color: transparent;
	overflow:auto;
	height: 144px;
	width: 161px;
}

div.Checkout {
	background-color: transparent;
	overflow:auto;
	height: 144px;
	width: 161px;
}
  
  



 
  
  .value-button-shirt,.value-button-burguer,.value-button-hotdog,.value-button-pizza,.value-button-kebab,.value-button-cerveja,.value-button-sidra,.value-button-sangria,.value-button-vinho,
  .value-button-icetea,.value-button-cocacola,.value-button-compal,.value-button-limonada{
	position:relative;
	display: inline-block;
	margin: 0px;
	width: 40px;
	height: 20px;
	text-align: center;
	vertical-align: middle;
	padding: 11px 0;
	background:black;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	top:63%;
  }
  
  .value-button-shirt:hover,.value-button-burguer:hover,.value-button-pizza:hover,.value-button-kebab:hover,.value-button-pizza:hover,
  .value-button-cerveja:hover,.value-button-sidra:hover,.value-button-sangria:hover,.value-button-vinho:hover,.value-button-icetea:hover,
  .value-button-cocacola:hover,.value-button-compal:hover,.value-button-limonada:hover
   {
	cursor: pointer;
  }
  .value-button-shirt:active,.value-button-burguer:active,.value-button-hotdog:active,.value-button-kebab:active,
  .value-button-pizza:active,.value-button-cerveja:active,.value-button-sidra:active,.value-button-sangria:active,.value-button-vinho:active,
  .value-button-icetea:hover,.value-button-compal:hover,.value-button-limonada:hover,.value-button-cocacola:hover {
	cursor: pointer;
	background-color:grey;
  }
  
  #decrease-shirt,#decrease-burguer,#decrease-pizza,#decrease-kebab,#decrease-hotdog,#decrease-cerveja,#decrease-sangria,
  #decrease-sidra,#decrease-vinho,#decrease-icetea,#decrease-compal,#decrease-limonada,#decrease-cocacola {
	right:-5%;
	border-radius: 8px 0 0 8px;
  }
  
   #increase-shirt,#increase-burger,#increase-pizza,#increase-kebab,#increase-hotdog,#increase-cerveja,#increase-sidra,
   #increase-sangria,#increase-vinho, #increase-cocacola,#increase-icetea,#increase-limonada,#increase-compal {
	right:-5%;
	border-radius: 0 8px 8px 0;
  }
  
   
  
  input#number_shirt,#shirt_price,#flag_price,#pussy_price,#fart_price,#kebab_price,#pizza_price,#burguer_price,#hotdog_price,#cerveja_price,#sangria_price,#sidra_price,#vinho_price,#cocacola_price,#icetea_price,#limonada_price,#compal_price,input#shopcar_price,input#number_burguer,input#number_hotdog,input#number_pizza,input#number_kebab,input#burguer_price,
  input#kebab_price,input#pizza_price,input#hotdog_price,input#number_kebab,input#cerveja_price,input#sangria_price,input#sidra_price,input#vinho_price,
  input#number_cerveja,input#number_sangria,input#number_sidra,input#number_vinho,input#cocacola_price,input#icetea_price,input#compal_price,input#limonada_price,
  input#number_cocacola,input#number_icetea,input#number_limonada,input#number_compal {
	position:relative;
	text-align: center;
	font-weight:bold;
	width: 35px;
	height: 30px;
	top:63%;
	right:-6%;
  }
  
  input#shopcar_price{
	  top:62%;
  }
 
  input[type=number_shirt]::-webkit-inner-spin-button,
  input[type=number_shirt]::-webkit-outer-spin-button ,input[type=number_burguer]::-webkit-inner-spin-button,
  input[type=number_burguer]::-webkit-outer-spin-button .input[type=number_hotdog]::-webkit-inner-spin-button,
  input[type=number_hotdog]::-webkit-outer-spin-button ,input[type=number_pizza]::-webkit-inner-spin-button,
  input[type=number_pizza]::-webkit-outer-spin-button ,input[type=number_kebab]::-webkit-inner-spin-button,
  input[type=number_kebab]::-webkit-outer-spin-button ,input[type=number_cerveja]::-webkit-inner-spin-button,
  input[type=number_cerveja]::-webkit-outer-spin-button .input[type=number_sangria]::-webkit-inner-spin-button,
  input[type=number_sangria]::-webkit-outer-spin-button ,input[type=number_sidra]::-webkit-inner-spin-button,
  input[type=number_sidra]::-webkit-outer-spin-button ,input[type=number_vinho]::-webkit-inner-spin-button,
  input[type=number_vinho]::-webkit-outer-spin-button, input[type=number_icetea]::-webkit-inner-spin-button,
  input[type=number_icetea]::-webkit-outer-spin-button ,input[type=number_cocacola]::-webkit-inner-spin-button,
  input[type=number_cocacola]::-webkit-outer-spin-button .input[type=number_compal]::-webkit-inner-spin-button,
  input[type=number_compal]::-webkit-outer-spin-button ,input[type=number_limonada]::-webkit-inner-spin-button,
  input[type=number_limonada]::-webkit-outer-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
  }

  input#shirt_price,input#burguer_price,input#kebab_price,input#pizza_price,input#hotdog_price,input#cerveja_price,
  input#sangria_price,input#sidra_price,input#vinho_price,
  input#icetea_price,input#cocacola_price,input#limonada_price,input#compal_price{
	top:-15%;
	right:-47%;
  }

  
  .value-button-flag {
	position:relative;
	display: inline-block;
	
	margin: 0px;
	width: 40px;
	height: 20px;
	text-align: center;
	vertical-align: middle;
	padding: 11px 0;
	background:black;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	top:63%;
  }
  
  .value-button-flag:hover {
	cursor: pointer;
  }
  
  .value-button-shirt:active {
	cursor: pointer;
	background-color:grey;
  }
  
   #decrease-flag {
	right:-5%;
	border-radius: 8px 0 0 8px;
  }
  
   #increase-flag {
	right:-5%;
	border-radius: 0 8px 8px 0;
  }
  
  
  input#number_flag,input#flag_price {
	position:relative;
	text-align: center;
	
	width: 35px;
	height: 30px;
	top:63%;
	right:-6%;
  }
  input#flag_price{
	top:-15%;
	right:-47%;
  }

  
  input[type=number_flag]::-webkit-inner-spin-button,
  input[type=number_flag]::-webkit-outer-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
  }

  .value-button-pussy {
	position:relative;
	display: inline-block;
	
	margin: 0px;
	width: 40px;
	height: 20px;
	text-align: center;
	vertical-align: middle;
	padding: 11px 0;
	background:black;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	top:63%;
  }
  
  .value-button-pussy:hover {
	cursor: pointer;
  }
  
   #decrease-pussy {
	right:-5%;
	border-radius: 8px 0 0 8px;
  }
  
   #increase-pussy {
	right:-5%;
	border-radius: 0 8px 8px 0;
  }
  
  
  input#number_pussy,input#pussy_price {
	position:relative;
	text-align: center;
	
	width: 35px;
	height: 30px;
	top:63%;
	right:-6%;
  }
  input#pussy_price{
	top:-15%;
	right:-47%;
  }
  
  input[type=number_pussy]::-webkit-inner-spin-button,
  input[type=number_pussy]::-webkit-outer-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
  }

  .value-button-fart {
	position:relative;
	display: inline-block;
	
	margin: 0px;
	width: 40px;
	height: 20px;
	text-align: center;
	vertical-align: middle;
	padding: 11px 0;
	background:black;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	top:63%;
  }
  
  .value-button-fart:hover {
	cursor: pointer;
  }
  
   #decrease-fart {
	right:-5%;
	border-radius: 8px 0 0 8px;
  }
  
  #increase-fart {
	right:-5%;
	border-radius: 0 8px 8px 0;
  }
  
  
  input#number_fart,input#fart_price {
	position:relative;
	text-align: center;
	
	width: 35px;
	height: 30px;
	top:63%;
	right:-6%;
  }

  input#fart_price{
	top:-15%;
	right:-47%;
  }
  
  input[type=number_fart]::-webkit-inner-spin-button,
  input[type=number_fart]::-webkit-outer-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
  }

  input#number_shopcar {
	text-align: center;
	border: none;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin: 0px;
	width: 40px;
	height: 40px;
  }
  
  input[type=number_shopcar]::-webkit-inner-spin-button,
  input[type=number_shopcar]::-webkit-outer-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
  }

  .Euro{
	  position:relative;
	  background-image: url("euro.png");
	  background-repeat: no-repeat;
	  background-position:center center;
	  height:20px;
	  width:10px;
	  background-size:20px;
	  top:-5%;
	  right:-37%;
	  background-color:white;
	  
  }

  .imgshirt,.imgflag,.imgPin,.imgPowerBank,.imgburguer,.imgpizza,.imghotdog,
  .imgkebab,.imgcerveja,.imgvinho,.imgsidra,.imgsangria,.imgicetea,.imgcocacola,.imgcompal,.imglimonada{
	  position:relative;
	  background-image: url("shirt.jpg");
	  background-repeat: no-repeat;
	  background-position:center center;
	  height:28px;
	  width:22px;
	  background-size:50px;
	  top:-45%;
	  right:-5%;
  }

  .imgflag{
	  background-image:url("nirvana.png");
	  height:29px;
  }

  .imgPin{

	background-image:url("pin.jpg");
	height:29px;
  }

  .imgPowerBank{
	background-image:url("lanterna.png");
	background-size:70px;
	height:30px;
	width:25px;
  }
 
  table.LetsSeeThatCar{
	border-collapse:collapse;
	width:130px;
	height:144px;
	
}


.imgburguer{
	background-image:url("burguer.jpg");
	height:29px;
}
.imgpizza{
	background-image:url("pizza.jpg");
	height:29px;
}
.imghotdog{
	background-image:url("hotdog.jpg");
	height:29px;
}
.imgkebab{
	background-image:url("kebab.jpg");
	height:29px;
}
.imgcerveja{
	background-image:url("cerveja.jpg");
	height:29px;
}

.imgsangria{
	background-image:url("sangria.jpg");
	height:29px;
}
.imgsidra{
	background-image:url("sidra.jpg");
	height:29px;
}
.imgvinho{
	background-image:url("vinho.jpg");
	height:29px;
}

.imglimonada{
	background-image:url("limonada.jpg");
	height:29px;
}
.imgcocacola{
	background-image:url("cocacola.jpg");
	height:29px;
}
.imgicetea{
	background-image:url("icetea.jpg");
	height:29px;
}
.imgcompal{
	background-image:url("compal.jpg");
	height:29px;
}
table.LetsSeeThatCar th, table.LetsSeeThatCar td {
	text-align:center;
	border:1px solid black;
	font-family: Sans-Serif;
	font-weight: bold;
	background-color: white;
	color:black;
	text-shadow: 0 0 2px white;

	
	}

	table.LetsSeeThatCar th {
		box-shadow:0px -2px;
		background-color:black;
		color:white;
		position:sticky;
		top:0;
		width:130px;
		height:44px;
		box-shadow:0px -2px black;	
		
		}

 table.LetsSeeThatCar td:first-child
	{
		
	  background-color:white;
	  height:45px;
	text-decoration: underline solid black ;
	} 

	table.LetsSeeThatCar td:first-child:hover
	{
		
	  background-color:greenyellow;
	  height:45px;
	} 	


	

	#shirtDIV,#flagDIV,#pussyDIV,#fartDiv{
		width:100%;
	}

	.PreçoTotal{
	position:relative;
	text-align: center;
	width: 40px;
	height: 50px;
	top:63%;
	color:white;
	font-weight:bold;
	background-color:green;
    
	font-size:14px;
		
		 }
	
 .YesButton,.NoButton{
	position:absolute;
	background-image:url("yes.png");
	background-size:50px;
	text-align: center;
	background-repeat: no-repeat;
	width: 60px;
	height: 40px;
	top:12%;
	color:white;
	font-weight:bold;
	right:38%;
	font-size:14px;	
	cursor:pointer;
	
	 }
	
.NoButton{
	background-image:url("no.jpg");
	top:12%;
	right:51%;
	background-size:60px;
}
	#Car{
		background-image:url("shopping.jpg");
		background-size:144px 144px;
	}
	.unit{
		position: relative;
		width: auto;
		height: 20px;
		font-weight: bold;
		color: black;
		right: 6%;
	}	